/* popup页面 */
.pop-wrap {
  padding: 16px;
  width: 500px;
}

.pop-wrap .logo {
  font-size: 20px;
  text-align: center;
}

.pop-wrap .pop-content {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.pop-wrap .pop-content .empty {
  text-align: center;
  color: #ccc;
}

#activeBtn {
  display: inline-block;
  margin-left: 6px;
  color: #06c;
  cursor: pointer;
}

.pop-wrap .img-box {
  width: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-height: 60px;
  overflow: hidden;
}

.pop-wrap .img-box img {
  max-width: 100%;
}


/* content页面 */
.crawl-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  background-color: #06c;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0, .3);
  cursor: pointer;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.modal-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .3);
}

.modal .modal-content {
  position: relative;
  z-index: 1001;
  width: 632px;
  margin: 100px auto auto;
  height: 520px;
  border-radius: 6px;
  overflow-y:scroll;
  background-color: #fff;
}

.modal .modal-content .modal-title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.modal .modal-content .modal-close-btn {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.img-box {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  max-height: 440px;
  overflow-y: scroll;
}

.img-box .img-wrap {
  box-sizing: border-box;
  margin-right: 16px;
  margin-bottom: 12px;
  width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.img-box .img-wrap:nth-child(3n+3) {
  margin-right: 0;
}

.img-box .img-wrap img {
  max-width: 100%;
}